{% extends 'base.html.twig' %}

{% block title %}SurfBoard index
{% endblock %}

{% block body %}
	<h1>My SurfBoards
	</h1>
	{% for success, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ success }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="d-flex flex-wrap ">
		{% for surf_board in surf_boards %}


			<div class="card m-5" style="width: 15rem;">
				<img src="{{ vich_uploader_asset( surf_board ) }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Name:
						{{ surf_board.nickname }}
					</h5>
					<h6 class="card-subtitle mb-2 text-muted">Length :
						{{ surf_board.length }}</h6>
					<p class="card-text">Review :
						{{ surf_board.review }}</p>
					<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
						<a href="{{ path('app_surf_board_show', {'id': surf_board.id}) }}" class="btn btn-primary btn-lg">
							<i class="fas fa-link"></i>
							Read more</a>
					</div>


				</div>
			</div>

		{% else %}

			<p colspan="15">no records found</p>

		{% endfor %}
	</div>
{% endblock %}
