{% extends 'base.html.twig' %}

{% block title %}All Boards
{% endblock %}

{% block body %}
	<h1>All Boards :
	</h1>
	{% for surf in surfs %}
		<div>
			<h2>{{ loop.index }}
				/ Nickname :
				{{ surf.nickname }}
				- Length :
				{{ surf.length }}</h2>
			<p>
				Review :
				{{ surf.review }}</p>
			<a href="{{ path("surf_app_surf_show", { id: surf.id }) }}">Check the board</a>
		</div>
	{% else %}
		No board...
	{% endfor %}
{% endblock %}
