{# {% extends 'base.html.twig' %}

{% block title %}My SurfShack
{% endblock %}

{% block body %}
	<h1>{{ website }}

	</h1>
	<div class="d-flex justify-content-center">
		<img class="mw-50 mh-100" src="{{ asset('build/images/surfsunset.jpeg') }}" alt="surfsunset"/>
	</div>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Your boards{{ surfs.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{surfs.picture}}" alt="{{ surfs.nickname }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ surfs.nickname }}</h1>
			<p>{{ surfs.length }}</p>
			<p>{{ surfs.thickness }}</p>
			<p>{{ surfs.width }}</p>
			<p>{{ surfs.shaper }}</p>
			<p>{{ surfs.brand }}</p>
			<p>{{ surfs.type }}</p>
			<p>{{ surfs.material }}</p>
			<p>{{ surfs.datePurchase }}</p>
			<p>{{ surfs.price }}</p>
			<p>{{ surfs.new }}</p>

			<p>Review :
				{{ surfs.review }}</p>
		</div>
	</div>

	<a href="{{ path('surf_index') }}">
		Back
	</a>
{% endblock %}
