{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}
{# 
{% block body %}
	<h1>Edit User</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


	{{ include('user/_delete_form.html.twig') }}

	{% block content %}

		<div class="bg-lightPrimary "></div>
		<div class='p-5 mb-3 mt-3'>
			<div class="d-flex  justify-content-center align-items-center p-5 " style="height:100vh;">
				<div class="mb-5 p-2 d-flex flex-column  ">

					<div class="container">
						{{ form_start(form) }}
						{{form_row(form.pseudo)}}
						{{form_row(form.email)}}
						{{ form_row(form.plainPassword,{'attr': {'placeholder':'Password'}}) }}
						{{ form_row(form.pictureFile,{'attr': {'placeholder':'Profile picture'}}) }}
					</div>
					<div class="d-flex  justify-content-center ">
						<button class="btn text-white mb-3 mt-3 bg-prune m-2">{{ button_label|default('Update') }}</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %} #}

{% block body %}
	<div class='m-2 d-flex justify-content-center'>
		<h1 class="text-center mt-2 text-mainBlue">{{app.user.pseudo}}'s profil</h1>
	</div>


	<div class="d-flex mt-5 justify-content-center align-items-center flex-column" style="height:100;">
		<div class="col-lg-8 w-50">
			<div class="card ">
				<div class="card-body ">
					<div class="d-flex justify-content-center align-items-center flex-column mb-4" style="height:100;">
						{{ form_start(form) }}

						<div class="row">
							<div class="col-sm-3">
								<img src="{{ vich_uploader_asset( user ) }}" class="rounded-circle" style="height: 200px;width:auto" alt="{{ user.pseudo }}"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 ">
							<p class="mb-0 mt-4 text-prune">Username
							</p>
						</div>
						<div class="col-sm-9 mt-4">
							<p class="text-muted mb-0">
								{{form_row(form.pseudo) }}
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0 text-prune">Email</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{form_row(form.email) }}
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0 text-prune">Password</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{ form_row(form.plainPassword,{'attr': {'placeholder':'Password'}}) }}

							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0 text-prune">Profil picture</p>
						</div>
						<div class="col-sm-9">
							{{ form_row(form.pictureFile,{'attr': {'placeholder':'Profile picture'}}) }}

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center m-5">
		<div class='m-2'>
			{{ include('user/_delete_form.html.twig') }}
			{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

		</div>
		<div class='m-2'>
			<a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Update</a>
		</div>
	</div>
</div></div>{% endblock %}
