{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class='m-2 d-flex justify-content-center'>
		<h1 class="text-center mt-2 text-mainBlue">{{app.user.pseudo}}'s profile</h1>
	</div>
	<div class='m-2 d-flex justify-content-center'>
		{% for success, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ success }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	<div class="d-flex mt-5 justify-content-center align-items-center flex-column" style="height:100;">
		<div class="col-lg-8 w-50">
			<div class="card ">
				<div class="card-body ">
					<div class="d-flex justify-content-center align-items-center flex-column mb-4" style="height:100;">

						<div class="row">
							<div class="col-sm-3">
								<img src="{{ vich_uploader_asset( user ) }}" class="rounded-circle" style="height: 200px;width:auto" alt="{{ user.pseudo }}"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 ">
							<p class="mb-0 mt-4 text-prune">Username
							</p>
						</div>
						<div class="col-sm-9 mt-4">
							<p class="text-muted mb-0">{{app.user.pseudo}}</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0 text-prune">Email</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{app.user.email}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center m-5">
			<div class='m-2'>
				{{ include('user/_delete_form.html.twig') }}
			</div>
			<div class='m-2'>
				<a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Update</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
